
<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>user-list.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>

  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>src.main.webapp.usermanagment.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/update</url-pattern>
    <url-pattern>/new</url-pattern>
    <url-pattern>/delete</url-pattern>
    <url-pattern>/edit</url-pattern>
    <url-pattern>/list</url-pattern>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>


</web-app>
